In [116]:
# Importing libraries
import  numpy as np
import pandas as pd
from math import log2

In [117]:
ds = pd.read_csv('data.csv',';')

In [118]:
ds.shape

(20, 6)

In [119]:
ds

    REC      Age  Income Student Credit_rating Buys_computer
0    r1     <=30    High      No          Fair            No
1    r2     <=30    High      No     Excellent            No
2    r3  31...40    High      No          Fair           Yes
3    r4      >40  Medium      No          Fair           Yes
4    r5      >40     Low     Yes          Fair           Yes
5    r6      >40     Low     Yes     Excellent            No
6    r7  31...40     Low     Yes     Excellent           Yes
7    r8     <=30  Medium      No          Fair            No
8    r9     <=30     Low     Yes          Fair           Yes
9   r10      >40  Medium     Yes          Fair           Yes
10  r11     <=30  Medium     Yes     Excellent           Yes
11  r12  31...40  Medium      No     Excellent           Yes
12  r13  31...40    High     Yes          Fair           Yes
13  r14      >40  Medium      No     Excellent            No
14  r15     <=30  Medium      No     Excellent            No
15  r16     <=30     Low      No          Fair            No
16  r17     <=30     Low      No     Excellent            No
17  ri8  31...40     Low     Yes          Fair           Yes
18  r19      >40  Medium     Yes     Excellent           Yes
19  r20  31...40    High      No     Excellent           Yes

In [142]:
def entropy(x1, x2):
    sum = x1 + x2
    if (x1 == 0) or (x2 == 0):
        return 0
    else:
        return -(x1 / sum * log2(x1 / sum)) - (x2 / sum * log2(x2 / sum))

In [148]:
def gainEntropy (array):
    lSum = sum(array)
    gain = 0
    
    for a in range(0, len(array), 2):
        gain += (array[a] + array[a+1]) / lSum * entropy(array[a], array[a+1])
        
    return gain

In [153]:
# Entropy Wert für Yes und No
yesNoEntropy = entropy(8,12)

In [181]:
def gainFunc (ds, column):
    column_to_use = ds[column]
    size = column_to_use.unique().size
    values = []
    entropy_value = 0
    
    if len(ds.Buys_computer.unique()) == 1:
        print('leaf')
        return 'leaf'
    else:        
        for x in range(size):
            for y in range(2):
                values.append( ds[(column_to_use == column_to_use.unique()[x]) & 
                         (ds.Buys_computer == ds.Buys_computer.unique()[y])].shape[0])
                print(values)

        #print(values)
        return yesNoEntropy - gainEntropy(values)

In [165]:
ageGain = gainFunc(ds, 'Age')
incomeGain = gainFunc(ds, 'Income')
studentGain = gainFunc(ds, 'Student')
creditGain = gainFunc(ds,'Credit_rating')

[6, 2, 0, 6, 2, 4]
[2, 3, 3, 5, 3, 4]
[7, 4, 1, 8]
[3, 7, 5, 5]

In [166]:
print(ageGain)
print(incomeGain)
print(studentGain)
print(creditGain)

0.3709505944546686
0.0016094970590274649
0.2243711762752758
0.03030514483932223

somit wäre der erste Split das Alter

In [167]:
subset1 = ds[ds['Age'] == '<=30']
subset2 = ds[ds['Age'] == '31...40']
subset3 = ds[ds['Age'] == '>40']

In [176]:
subset2

    REC      Age  Income Student Credit_rating Buys_computer
2    r3  31...40    High      No          Fair           Yes
6    r7  31...40     Low     Yes     Excellent           Yes
11  r12  31...40  Medium      No     Excellent           Yes
12  r13  31...40    High     Yes          Fair           Yes
17  ri8  31...40     Low     Yes          Fair           Yes
19  r20  31...40    High      No     Excellent           Yes

In [185]:
incomeGain1 = gainFunc(subset1, 'Income')
studentGain1 = gainFunc(subset1, 'Student')
creditGain1 = gainFunc(subset1,'Credit_rating')

incomeGain2 = gainFunc(subset2, 'Income')
studentGain2 = gainFunc(subset2, 'Student')
creditGain2 = gainFunc(subset2,'Credit_rating')

incomeGain3 = gainFunc(subset3, 'Income')
studentGain3 = gainFunc(subset3, 'Student')
creditGain3 = gainFunc(subset3,'Credit_rating')

[2]
[2, 0]
[2, 0, 2]
[2, 0, 2, 1]
[2, 0, 2, 1, 2]
[2, 0, 2, 1, 2, 1]
[6]
[6, 0]
[6, 0, 0]
[6, 0, 0, 2]
[3]
[3, 1]
[3, 1, 3]
[3, 1, 3, 1]
leaf
leaf
leaf
[3]
[3, 1]
[3, 1, 1]
[3, 1, 1, 1]
[1]
[1, 1]
[1, 1, 3]
[1, 1, 3, 1]
[3]
[3, 0]
[3, 0, 1]
[3, 0, 1, 2]

In [186]:
print(incomeGain1)
print(studentGain1)
print(creditGain1)

0.2822287189138014
0.9709505944546686
0.15967246999553575

In [187]:
print(incomeGain3)
print(studentGain3)
print(creditGain3)

0.0967651781485801
0.0967651781485801
0.5118026774274238

der zweite Split wäre Student